
div.article-page-preview-title {
    margin-top: 2%;
    padding: 0;
}

.idv-shop-row{
    box-shadow: 0px 1px 2px gray;
    height: 115px;
    margin: 16px 0px 0px 0px;
    text-align: justify;
    padding-top: 17px;
}

.div-suc-row{
    font-size: 1.5em;
    margin-top: 80px;
    text-align: justify;
    padding-top: 17px;
}

.order-row{
    box-shadow: 0px 1px 2px gray;
    height: 75px;
    margin: 16px 0px 0px 0px;
    text-align: justify;
    padding-top: 20px;
    font-size: large;
}

.order-history-head{
    height: 50px;
    font-size: 2em;
}
.history-container{
    margin-top: 50px;
    align:left;
}
.idv-shop-row:hover {
    background : #fbfbfb;
}

.shop-name {
    font-size: 23px;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: 600;

}

.shop-cusine {
    color: rgba(0,0,0,.67);
    font-size: 16px;
    font-style: italic;
}


.shop-img {
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    width: 90px !important;
    height: 90px !important;
}

.right-icon {
    font-size: 1.6em;
}
.right-icon-section {
    margin: 27px 0px 0px 0px;
}

.suc-cont {
    margin-top:130px;
    align:center;
    height: 230px;
}



