
div.article-page-preview-title {
    margin-top: 2%;
    padding: 0;
}

.idv-shop-row{
    box-shadow: 0px 1px 2px gray;
    height: 115px;
    margin: 16px 0px 0px 0px;
    text-align: justify;
    padding-top: 17px;
}

.order-row{
    box-shadow: 0px 1px 2px gray;
    height: 75px;
    margin: 16px 0px 0px 0px;
    text-align: justify;
    padding-top: 20px;
    font-size: large;
}

.idv-shop-row:hover {
    background : #fbfbfb;
}

.shop-name {
    font-size: 23px;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: 600;

}

.shop-cusine {
    color: rgba(0,0,0,.67);
    font-size: 16px;
    font-style: italic;
}


.shop-img {
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 4px;

}

.right-icon {
    font-size: 1.6em;
}
.right-icon-section {
    margin: 27px 0px 0px 0px;
}





/************************************************************************/
#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

.ul-banner {
    height: 320px;
    display: block;
}

.bjqs-slide {
    height: 320px;
    width: 100%;
    display: inline-flex;
}

ol.bjqs-markers li a {
    display: none;
}

.banner {
    display: inline-flex;
    text-align: -webkit-center;
}

.banner>.banner-img {
    width : 35%;
}


ul.bjqs-controls.v-centered li.bjqs-prev a,
ul.bjqs-controls.v-centered li.bjqs-next a {
    opacity : 0.7;
}
