{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}
    NoQ
    {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'boots/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'main/css/full.css' %} " rel="stylesheet">
    <link href="{% static 'main/css/home.css' %} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'boots/css/navbar-static-top.css' %}" rel="stylesheet">
    <style>

        {% block style %}

        {% endblock %}
    </style>

</head>

<body>

{% include 'main/navbar.html' %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissable">
        {{ message }}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    {% endfor %}
{% endif %}


{% block homeheader %}

{% endblock %}

<div class="container">
    <!--1st Large Banner Image -->

    <!-- Main component for a primary marketing message or call to action -->
    {% block content %}

    {% endblock %}


</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'boots/js/bootstrap.min.js' %}"></script>

</body>
</html>
