{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block style %}
    {% comment %}   body{
    background-image:url("../../static/main/images/republic.jpeg");
    }

 {% endcomment %}

    #myjumbo{
    background-color:white;
    height:300px;
    background-image:url("../../static/main/images/fruit.jpg");

    }

{% endblock %}

{% block homeheader %}
    <div class="jumbotron" id="myjumbo">
        <div class="container">
            <div class="row rowclass">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="custom-search-input">
                        <div id="div_search" class="input-group col-md-12">
                            <input id="txt_search" type="text" class="form-control input-lg"
                                   placeholder="Search Shops"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    {% for eachshop, d in distances %}
        <div class="col-md-12 shop-rows">
            <div class="col-md-1"></div>
            <a class="col-md-10 idv-shop-row" href="/customer/fooditems/{{ eachshop.id }}" id="idv-shop-row">
                <div class="col-md-2">
                    <img class="shop-img" src="../../static/main/images/{{ eachshop.image_name }}">
                </div>
                <div class="col-md-9">
                    <p>
                    <span class="shop-name">
                        {{ eachshop.name }}<br>
                    </span>
                        <span class="shop-cusine italics-text">{{ eachshop.cusine_type }} cuisine, distance: {{ d|floatformat:2 }} km <br></span>
                        <span class="">
                    </span>
                    </p>
                </div>
                <div class="col-md-1 right-icon-section">
                    <span class="glyphicon glyphicon-chevron-right right-icon"></span>
                </div>
            </a>
            <div class="col-md-1"></div>
        </div>
    {% endfor %}


    <!--
    <div class="col-md-12 article-page-preview-rows">
        <div class="col-md-1"></div>
        <div class="col-md-10 article-02-preview article-preview" id="article-02-preview">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <p>
                    <span class="article-02-preview-title article-preview-title">
                    Punjabi Tadka <br>
                    </span>
                    <span class="preview-subtitle italics-text">Everyone' favorite north Indian food <br></span>
                    <span class="preview-text">
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 article-page-preview-rows">
        <div class="col-md-1"></div>
        <div class="col-md-10 article-03-preview article-preview" id="article-03-preview">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <p>
                    <span class="article-03-preview-title article-preview-title">
                    Big Bern's <br>
                    </span>
                    <span class="preview-subtitle italics-text">Best American Grilled food you can get <br></span>
                    <span class="preview-text">
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    -->

{% endblock %}