{% extends 'main/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}
    Update Profile
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

                <br>
                <p class=" text-info" align="left">{% now "jS F Y H:i" %} </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-2 toppad">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hi, {{ user.firstName }}&nbsp;{{ user.lastName }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center">
                                <img alt="User Pic"
                                     {% if user.is_shop_owner %}
                                     src="{% static 'main/images/male.jpg' %}"
                                     {% else %}
                                     src="{% static 'main/images/female.png' %}"
                                     {% endif %}

                                                class="img-circle img-responsive"></div>

                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Email:</td>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>

                                         {% if user.is_shop_owner %}
                                            <td>Credit</td>
                                        {% else %}
                                            <td>Balance</td>
                                        {% endif %}
                                        <td>$&nbsp;{{ balance }}</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>01/24/1988</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Gender</td>
                                        {% if user.is_shop_owner %}
                                            <td>Male</td>
                                        {% else %}
                                            <td>Female</td>
                                        {% endif %}

                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>School Of Computing</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:info@support.com">{{ user.email }}</a></td>
                                    </tr>
                                    <td>Phone Number</td>
                                    <td>555-4567-890(Mobile)<br><br>
                                    </td>

                                    </tr>

                                    </tbody>
                                </table>

                                <div>
                                    <a href="{% url 'history' %}" class="btn btn-info btn-lg ">Order History</a>
                                    <a href="{% url 'update' %}" class="btn btn-success btn-lg ">Update Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button"
                           class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button"
                               class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button"
                               class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}