{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Order History
{% endblock %}

{% block content %}
    <div class="history-container">
        {% if ordersPresent == False %}
             <div class="alert alert-danger" style="font-size:2em;">
                <strong> {{ orderMsg }}</strong>
            </div>
        {% else %}
            <table class="table table-striped">
                <thead class="order-history-head">
                <tr>
                    <th>Order No</th>
                    <th>Customer Email</th>
                    <th>Total Bill</th>
                    <th>Order Date</th>
                </tr>
                </thead>
                <tbody >
                {% for order in orders %}
                    <tr class="order-row">
                        <td>{{ order.id }}</td>
                        <td>{{ order.customer.user.email }}</td>
                        <td>$ {{ order.bill }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>
                            <a href="#"><span
                                    class="glyphicon glyphicon-chevron-right right-icon"></span></a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}