{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
    <h1> Welcome to {{ shop.name }} Shop</h1>
    <div class="row">
   {% for fooditem in shop.fooditem_set.all %}
    <div class="col-lg-12 shop-rows">
        <div class="col-lg-12    idv-shop-row" id="idv-shop-row">
            <div class="col-lg-2">
                <img class="shop-img" src="{% static 'main/images/eat-flat.png' %}" >
            </div>
            <div class="col-lg-4">
                <p>
                    <span class="shop-name">
                        {{ fooditem.name }}<br>
                    </span>
                    <span class="shop-cusine italics-text">{{ fooditem.category.name }}<br></span>
                    <span class="food-description">
                        {{ fooditem.category.description }}
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <span class="fooditem-price">$ {{ fooditem.price }}</span>
            </div>
            <div class="col-lg-3 right-icon-section">
            <form method="post" action="/customer/buyitem/{{ fooditem.id }}/">{% csrf_token %}

                <button class="btn btn-primary btn-lg btn-block">Order</button>

            </form>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
