{% extends 'main/base.html' %}

{% block content %}
    <h1> {{ shop.name }}</h1>

   {% for fooditem in shop.fooditem_set.all %}
    <div class="col-md-12 shop-rows">
        <div class="col-md-10 idv-shop-row" id="idv-shop-row">
            <div class="col-md-2">
                <img class="shop-img" src="../../static/main/images/{{ fooditem.image_name }}" >
            </div>
            <div class="col-md-6">
                <p>
                    <span class="shop-name">
                        {{ fooditem.name }}<br>
                    </span>
                    <span class="shop-cusine italics-text">{{ fooditem.category.name }}<br></span>
                    <span class="food-description">
                        {{ fooditem.category.description }}
                    </span>
                </p>
            </div>
            <div class="col-md-3">
                <span class="fooditem-price">$ {{ fooditem.price }}</span>
            </div>
            <div class="col-md-1 right-icon-section">
                <a href="/customer/buyitem/{{ fooditem.id }}" class="buy-button">
                    Buy
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
