{% extends 'main/base.html' %}
{% block content %}
    <h1>Shop management</h1>
    {% if shop_list %}
        <table class="table table-striped">
            <tr>
                <th>Shop</th>
                <th>Subscription type</th>
                <th>Subscription end</th>
            </tr>
            {% for shop in shop_list %}
                <tr>
                    <td><a href="{% url 'shopowner:shop' shop.id %}">{{ shop.name }}</a></td>
                    <td>{{ shop.subscription.subscription_type.name }}</td>
                    <td>{{ shop.subscription.end_date }}</td>
                </tr>
            {% endfor %}
        </table>
        <a class="btn btn-default" href="{% url 'shopowner:newshop' %}" role="button">Add a new shop</a>
    {% else %}
        <div class="alert alert-danger" style="font-size:1.6em;">
                <strong> You didn't subscribe to any services yet</strong>
            </div>
        <p> . </p>
        <a class="btn btn-primary btn-lg" href="{% url 'shopowner:newshop' %}" role="button">Subscribe</a>
    {% endif %}
{% endblock %}